Repository se701-group6/A2, pull requests merged in 2020-03, with the labels that each got.

#10 Created Code-of-conduct
  CODE_OF_CONDUCT.md
Labels: documentation

#12 Updated issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#11 Add license
  LICENSE
Labels: documentation

#31 Create contributing.md
  CONTRIBUTING.md
Labels: documentation

#38 Ci cd/pr labeller
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci-cd

#49 Landing page should be on login
  split-webapp/split/src/App.js
  split-webapp/split/src/pages/Home.js
  split-webapp/split/src/pages/Login.js
Labels: front-end

#54 added basic sqlite database with a few getters and setters
  server/src/.gitignore
  server/src/api/account.py
  server/src/api/base_api.py
  server/src/api/bill_data.py
  server/src/api/bill_exec.py
  server/src/api/pay_exec.py
  server/src/db_manager.py
  server/src/main.py
  server/src/server.py
  server/src/test_db.py
Labels: back-end

#79 Moved linting and build order around
  .github/workflows/webapp-test.yml
Labels: ci-cd

#77 Added get_bills endpoint, moved unit tests out of src module
  server/src/api/bill_data.py
  server/src/db_manager.py
  server/test_db.py
Labels: back-end

#76 Created mapping from api call to bills and payments using mock api.
  split-webapp/split/src/components/TransactionList.js
Labels: front-end

#70 Corrected sign-up page to match sign in page issue #68
  split-webapp/split/src/pages/SignUp.js
Labels: front-end

#69 Initial README template
  README.md
Labels: documentation

#81 README updated to include a brief description of our project aim
  README.md
Labels: documentation

#86 Updated Making Payment feature. Log in verified and payment made.
  server/src/api/pay_exec.py
Labels: back-end

#88 Update readme with dev details
  README.md
  server/src/main.py
Labels: documentation

#89 Implemented payment API call to checkboxes + Styling of Transactions
  split-webapp/split/src/App.css
  split-webapp/split/src/components/TransactionList.js
  split-webapp/split/src/pages/Transactions.js
Labels: front-end

#109 Completed login functionality and style
  split-webapp/split/package-lock.json
  split-webapp/split/package.json
  split-webapp/split/src/pages/Login.js
Labels: front-end

#107 Renovated and Validated bill creation
  split-webapp/split/src/App.css
  split-webapp/split/src/pages/Split.js
  split-webapp/split/src/pages/Transactions.js
Labels: front-end

#93 Implemented running total on Transactions Page
  split-webapp/split/src/App.css
  split-webapp/split/src/components/TransactionList.js
  split-webapp/split/src/pages/Transactions.js
Labels: front-end

#101 Resizing of the logo on the README.md
  README.md
Labels: documentation

#112 Ci cd/deploy to aws
  .dockerignore
  .github/workflows/aws-ecr-deployment.yml
  .github/workflows/create-release.yml
  .github/workflows/taskDef.json
  Dockerfile
Labels: ci-cd
